<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>SLIDER/PHOTO</title>
</head>
<body>
    <!-- Container della nostra sezione #root che si collega al vuejs  -->
    <div  class="containerApp" id="root">
        <!-- inizio header -->
        <header>
           <div class="titlePage">
               <h2>PhotoGallery</h2>
           </div>
           <div class="title">
               <h1>BANKSY-GALLERY</h1>
           </div>

        </header>
        <!-- fine header -->
         <!-- inizio main -->
        <main>
            <div class="leftSection">
                <div class="titleImage">
                    <h2 :class="(counter==index)?'visibile':'invisibile'" v-for="(element, index) in infoPhoto">{{element.titolo}}</h2>
                    
                </div>
                <div class="descriptionImage">
                    <p :class="(counter==index)?'visibile':'invisibile'" v-for="(element, index) in infoPhoto">{{element.descrizione}}</p>
                </div>
            </div>
            <div class="rightSection">
                <div class="slider">
                       <img :src="photos[counter]" :alt="alt[counter]">
                    <div class="navBar">
                        <i @click="circleClick(index)" v-for="(pallino, index) in photos" :class="(counter === index)?'active':'notActive'" class="fa-solid fa-minus"></i>
                    </div>
                </div>
            </div>
        </main>
        <!-- fine main -->

        <!-- inizio footer -->
        <footer>
           <div class="left">
            <i @click="precedente" class="fa-solid fa-chevron-left"></i>
           </div>
           <div class="right">
            <i @click="next" class="fa-solid fa-chevron-right"></i>
           </div>
        </footer>
        <!-- fine footer -->
    </div>
    <!-- fine sezione root -->

    <script src="main.js"></script>
</body>
</html>